<!-- When a template is defined, it isn't rendered by default. Only when another template (not named template) includes it in its gohtml -->
{{define "footer"}}
<footer>
    <p>Copyright 2019 lenslocked.com</p>
</footer>
{{end}}