{{define "yield"}}
<h1>FAQ</h1>
<!--By default, included named templates cannot access the data that was passed to the parent template. To do so, we could pass our whole data using "." 
    or a piece of specific data using ".NameofVariable". Eg: {{template "footer" .}}, {{template "footer" .Name}}-->
<!-- {{template "footer"}} -->
{{end}}